
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
}

.button{
    padding: 20px ;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgb(63, 64, 71);
    font-size: 15px;
    font-weight: 600;
    

}

.button-op{
    padding: 20px ;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgba(201, 71, 24, 0.9);
    font-size: 15px;
    font-weight: 600;
    
}


.row{
    margin: 10px;
    
}

.row input{
    font-size: 25px;
    width: 295px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid rgb(63, 64, 71);
    border-radius: 6px;

}