.text_center{
    text-align: center;
}
/* .bg-blue{ */
    /* background-color: rgb(88, 88, 165) */
/* } */
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex-col{
    flex-direction: column;

}

.items_center{
    align-items: center;
}